@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --fonte01: "Edu VIC WA NT Beginner", cursive;
    --fonte02: "Montserrat", sans-serif;
    --fonte03: Verdana, Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    font-family: var(--fonte01);
    text-align: center;
    padding: 10vh;
}

header > h1 {
    font-family: var(--fonte02);
    font-variant: small-caps;
    font-size: 10vw;
    font-size: 2em;
}

section {
    padding: 10vh 0px 10vh 30px;
}

.normal {
    background-color: beige;
    font-size: 2.8vw;
    display: inline-block;
}

.imagem {
    background-color: rgba(0, 0, 0, 0.573);
    background-image: url('imagens/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: inline-block;
    padding: 5px;
}